In [ ]:
# import module pandas

In [ ]:
#Tạo biến arr kiểu từ điển gồm 3 key: "hoten","dvct","luong", mỗi key gồm 5 giá trị (key dvct chỉ chứa các giá trị: "Kế toán","Bảo vệ","Tài chính", key luong chỉ có các giá trị: 1200,1500,1800) và hiển thị từ điển đó sau khi tạo

In [ ]:
#hiển thị các giá trị của key" dvct"

In [ ]:
#Tạo DataFrame df từ mảng arr

In [ ]:
#Xem nội dung DataFrame df

In [ ]:
#Hiển thị 2 bản ghi đầu tiên có trong DataFrame df

In [ ]:
#Hiển thị 3 bản ghi cuối cùng có trong DataFrame df

In [ ]:
#Hiển thị từ bản ghi đầu đến bản ghi thứ 3 có trong DataFrame df

In [ ]:
#Hiển thị tất cả bản ghi có trong DataFrame df có chỉ mục lẻ

In [ ]:
#Hiển thị tất cả bản ghi có trong DataFrame df có chỉ mục chia hết cho 3

In [ ]:
# Lấy từ bản ghi thứ 2 về cuối dữ liệu

In [ ]:
# Lấy giá trị cột hoten có kết quả dạng Series

In [ ]:
# Lấy giá trị cột hoten  có kết quả dạng DataFrame

In [ ]:
#Lấy kích thước của DataFrame df

In [ ]:
#Lấy thông tin chi tiết của DataFrame df

In [ ]:
#Lấy tên các cột có trong df

In [ ]:
# Lấy thông tin thống kê trong df. Hãy cho biết ý nghĩa các thông tin có trong kết quả

In [ ]:
# Lấy danh sách lương trên 1500

In [ ]:
# Lấy danh sách lương trên 1500 gồm các cột hoten,luong

In [ ]:
# Lấy danh sách lương từ dòng có chỉ mục 1 đến 3, gồm các cột hoten,dvct

In [ ]:
# Lấy danh sách lương đơn vị Kế toán, gồm tất cả các cột

In [ ]:
# Lấy danh sách lương đơn vị Bảo về, gồm các cột hoten,luong

In [ ]:
# Xác định họ tên những người có lương cao nhất

In [24]:
#Hiển thị danh sách những người họ Nguyễn

In [25]:
#Hiển thị danh sách những người tên "Hoa"